.container {
  background-color: #f8f8f8;
  min-height: 91vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.car {
  background-color: white;
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  width: 780px;
  border: 1px solid #ddd;
}

.car-image {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.car-image img {
  height: 130px;
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.car-details {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 220px);
  padding-left: 20px;
}

.car-title {
  cursor: pointer;
  color: #188ee9;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.car-description {
  margin-bottom: 20px;
  font-size: 16px;
}

.car-specs {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.dashboard-filter {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add some spacing between rows */
  width: 100%;
}

.filter-row nz-form-item {
  margin-right: 20px; /* Adjust spacing between items */
  flex: 1;
}

.filter-row nz-form-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.filter-select-dropdown {
  margin: 10px;
  width: 100%;
}

.filter-select-dropdown nz-form-item {
  margin-left: 0; /* Reset margin-left */
}

.filter-select-dropdown nz-form-control {
  width: 100%;
}

.filterBtn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #188ee9;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto; /* Align button to the right */
}

.filterBtn:hover {
  background-color: #1469a6;
}

.filterBtn:active {
  background-color: #0f4d7f;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .car {
    width: 100%;
    margin: 10px;
  }
  .car-image {
    width: 100%;
  }
  .car-image img {
    width: 100%;
  }
  .car-details {
    width: 100%;
    padding-left: 0;
  }
  .dashboard-filter {
    width: 100%;
  }
  .filter-grid {
    flex-direction: column;
  }
  .filter-select-dropdown {
    margin: 10px 0;
  }
  .filterBtn {
    margin-left: 0;
  }
  .filter-row {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
}
